<!DOCTYPE html>
<html>

<head>
    <title>SocketsChat</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href="/assets/css/style.css" type='text/css'>
</head>

<body>
    <script src="/assets/js/connection.js"></script>
    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <button id="logout">Logout from <span id="fullName"></span></button>
            <ul class="list"></ul>
        </div>

        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about" id="chat-about">
                    <div class="chat-with">Chat with <span id="chat-with"></span></div>
                    <!-- <div class="chat-num-messages">already <span id="num-messages">1 902</span> messages</div> -->
                    <div class="chat-num-messages" id="typing">Is typing...</div>
                </div>
            </div> <!-- end chat-header -->

            <div class="chat-history">
                <ul id="history"></ul>
            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message"
                    rows="3"></textarea>
                <button id="sendMessage">Send</button>

            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->
    <script src="/assets/js/main.js"></script>
</body>

</html>