<%- include('baseHead', { data: { title: "Sign up" }, }); %>

    <label for="password">Enter full name</label><br>
    <input name="fullName" type="text" id="fullName"><br>
    <label for="password">Enter email</label><br>
    <input name="email" type="text" id="email"><br>
    <label for="password">Set your password</label><br>
    <input name="password" type="password" id="password"><br>
    <button id="signUp">Submit</button>
    <script src="/assets/js/signUp.js"></script>

    <%- include('baseBottom'); %>